<SolutionGenerator xmlns="http://schemas.microsoft.com/pag/solution-generator">
	<Solution Name="CompositeUI.sln" StartupGuid="{62B89443-7C08-4753-9C43-F53DABF7549D}">
		<SolutionFolder Name="QuickStarts">
			<SolutionFolder Name="ModuleLoader">
				<Project Name="GPSModule.csproj" Guid="{C0C593F3-A235-4B68-B4A7-6BC724A2F8E8}" />
				<Project Name="ModuleLoaderQuickStart.csproj" Guid="{D53533C1-4270-44A6-862E-18623445CA0B}" />
			</SolutionFolder>

			<SolutionFolder Name="Commands">
				<Project Name="CommandsQuickStart.csproj" Guid="{E2889A51-A517-44A8-A479-69386C9B8BD1}" />
			</SolutionFolder>

			<SolutionFolder Name="Walkthrough">
				<SolutionFolder Name="Step 1">
					<Project Name="ShellApplication.csproj" Guid="{27939947-5B62-4C4C-99FF-898BF0C71D07}" />
				</SolutionFolder>
				<SolutionFolder Name="Step 2">
					<Project Name="MyModule.csproj" Guid="{97B7A004-2B34-462C-A055-4A02972A99A9}" />
					<Project Name="ShellApplication.csproj" Guid="{637AD7F9-7056-41AC-93B2-0956EC1FD4D5}" />
				</SolutionFolder>
				<SolutionFolder Name="Step 3">
					<Project Name="ShellApplication.csproj" Guid="{AE9B0095-C0D9-4ACD-BF5D-D44CE5CE9B51}" />
					<Project Name="MyModule.csproj" Guid="{231EE72D-663A-4AC0-BE56-3728D5FE3477}" />
				</SolutionFolder>
				<SolutionFolder Name="Step 4">
					<Project Name="MyModule.csproj" Guid="{C496A04B-72AF-4343-9833-7A36010F562C}" />
					<Project Name="ShellApplication.csproj" Guid="{21775AD9-4C98-483B-A716-F9D7EE65F874}" />
				</SolutionFolder>
			</SolutionFolder>

			<SolutionFolder Name="BankTeller">
				<Project Name="BankShell.csproj" Guid="{62B89443-7C08-4753-9C43-F53DABF7549D}">
					<ExplicitDependency Guid="{F5E262B3-2535-4579-B2A6-3FC5BD45EABB}" />
					<ExplicitDependency Guid="{A7848178-09E6-4FC7-A21E-9CB9418984A5}" />
				</Project>
				<Project Name="BankTellerCommon.csproj" Guid="{5461523C-4DCE-4672-BC72-7F0C99501F43}" />
				<Project Name="CustomerMapExtensionModule.csproj" Guid="{A7848178-09E6-4FC7-A21E-9CB9418984A5}" />
				<Project Name="BankTellerModule.csproj" Guid="{F5E262B3-2535-4579-B2A6-3FC5BD45EABB}" />
			</SolutionFolder>

			<SolutionFolder Name="SmartParts">
				<Project Name="SmartPartQuickStart.csproj" Guid="{45AAAC79-E7DF-492C-A5DE-9C2BC6016FCD}" />
			</SolutionFolder>

			<SolutionFolder Name="EventBroker">
				<Project Name="EventBrokerQuickStart.csproj" Guid="{D74D48F9-85C5-452F-A1C1-7FCE9F9F8B1F}" />
			</SolutionFolder>
		</SolutionFolder>

		<SolutionFolder Name="Source">
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" Primary="true" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" Primary="true" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" Primary="true"/>
		</SolutionFolder>

		<SolutionFolder Name="UnitTests">
			<Project Name="CompositeUI.Tests.NUnit.csproj" Guid="{9B112762-C2CC-4406-8ACA-12B51143CC6D}" />
			<Project Name="CompositeUI.Tests.VSTS.csproj" Guid="{533BB382-F49F-4945-EA80-4B01D58C1AB0}" />
			<Project Name="CompositeUI.WinForms.Tests.NUnit.csproj" Guid="{BD409887-5D19-4679-8EA6-7EAC8CED77B7}" />
			<Project Name="CompositeUI.WinForms.Tests.VSTS.csproj" Guid="{006913B7-12A3-4FF1-5295-32825D100C9C}" />
			<Project Name="ObjectBuilder.Tests.VSTS.csproj" Guid="{5C5262F7-FE62-415F-BC8D-3C49CC071403}" />
			<Project Name="ObjectBuilder.Tests.NUnit.csproj" Guid="{AA94DF49-2CB4-4A75-A6D8-C6BABDFBB490}" />
		</SolutionFolder>

	</Solution>
	<Solution Name="BankTeller QuickStart.sln" StartupGuid="{62B89443-7C08-4753-9C43-F53DABF7549D}">
		<SolutionFolder Name="CAB">
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" />
		</SolutionFolder>

		<Project Name="BankShell.csproj" Guid="{62B89443-7C08-4753-9C43-F53DABF7549D}" Primary="true">
			<ExplicitDependency Guid="{5461523C-4DCE-4672-BC72-7F0C99501F43}" />
			<ExplicitDependency Guid="{A7848178-09E6-4FC7-A21E-9CB9418984A5}" />
		</Project>
		<Project Name="BankTellerCommon.csproj" Guid="{5461523C-4DCE-4672-BC72-7F0C99501F43}" Primary="true" />
		<Project Name="CustomerMapExtensionModule.csproj" Guid="{A7848178-09E6-4FC7-A21E-9CB9418984A5}" Primary="true" />
		<Project Name="BankTellerModule.csproj" Guid="{F5E262B3-2535-4579-B2A6-3FC5BD45EABB}" Primary="true" />
	</Solution>
	<Solution Name="Commands QuickStart.sln" StartupGuid="{E2889A51-A517-44A8-A479-69386C9B8BD1}">
		<SolutionFolder Name="CAB">
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" />
		</SolutionFolder>
		<Project Name="CommandsQuickStart.csproj" Guid="{E2889A51-A517-44A8-A479-69386C9B8BD1}" Primary="true"/>
	</Solution>
	<Solution Name="EventBroker QuickStart.sln" StartupGuid="{D74D48F9-85C5-452F-A1C1-7FCE9F9F8B1F}">
		<SolutionFolder Name="CAB">
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" />
		</SolutionFolder>
		<Project Name="EventBrokerQuickStart.csproj" Guid="{D74D48F9-85C5-452F-A1C1-7FCE9F9F8B1F}" Primary="true" />
	</Solution>
	<Solution Name="ModuleLoader QuickStart.sln" StartupGuid="{D53533C1-4270-44A6-862E-18623445CA0B}">
		<SolutionFolder Name="CAB">
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" />
		</SolutionFolder>
		<Project Name="GPSModule.csproj" Guid="{C0C593F3-A235-4B68-B4A7-6BC724A2F8E8}" Primary="true" />
		<Project Name="ModuleLoaderQuickStart.csproj" Guid="{D53533C1-4270-44A6-862E-18623445CA0B}" Primary="true"/>
	</Solution>
	<Solution Name="SmartPart QuickStart.sln" StartupGuid="{45AAAC79-E7DF-492C-A5DE-9C2BC6016FCD}">
		<SolutionFolder Name="CAB" >
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" />
		</SolutionFolder>
		<Project Name="SmartPartQuickStart.csproj" Guid="{45AAAC79-E7DF-492C-A5DE-9C2BC6016FCD}" Primary="true" />
	</Solution>
	<Solution Name="Walkthrough QuickStart.sln" StartupGuid="{27939947-5B62-4C4C-99FF-898BF0C71D07}">
		<SolutionFolder Name="CAB">
			<Project Name="ObjectBuilder.csproj" Guid="{2AE49F19-392B-4C50-A13C-F49B2579849D}" />
			<Project Name="CompositeUI.csproj" Guid="{C478E40B-A05E-4C69-9AB3-7A3BB374243F}" />
			<Project Name="CompositeUI.WinForms.csproj" Guid="{073BCD60-F2FB-4DB9-92FB-403C8F9E8DD0}" />
		</SolutionFolder>
		<SolutionFolder Name="Step 1">
			<Project Name="ShellApplication.csproj" Guid="{27939947-5B62-4C4C-99FF-898BF0C71D07}" Primary="true"  />
		</SolutionFolder>
		<SolutionFolder Name="Step 2">
			<Project Name="MyModule.csproj" Guid="{97B7A004-2B34-462C-A055-4A02972A99A9}" Primary="true"  />
			<Project Name="ShellApplication.csproj" Guid="{637AD7F9-7056-41AC-93B2-0956EC1FD4D5}"  Primary="true" />
		</SolutionFolder>
		<SolutionFolder Name="Step 3">
			<Project Name="ShellApplication.csproj" Guid="{AE9B0095-C0D9-4ACD-BF5D-D44CE5CE9B51}"  Primary="true" />
			<Project Name="MyModule.csproj" Guid="{231EE72D-663A-4AC0-BE56-3728D5FE3477}"  Primary="true" />
		</SolutionFolder>
		<SolutionFolder Name="Step 4">
			<Project Name="MyModule.csproj" Guid="{C496A04B-72AF-4343-9833-7A36010F562C}"  Primary="true" />
			<Project Name="ShellApplication.csproj" Guid="{21775AD9-4C98-483B-A716-F9D7EE65F874}" Primary="true"  />
		</SolutionFolder>
	</Solution>
</SolutionGenerator>
