<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="shellitems" type="BankShell.ShellItemsSection, BankShell" />
    <section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI" allowExeDefinition="MachineToLocalUser" />
  </configSections>
	<CompositeUI>
		<!--<visualizer>
			<add type="SampleVisualizations.WorkItemVisualization, SampleVisualizations" />
		</visualizer>-->
		<services>
      <add
				serviceType="Microsoft.Practices.CompositeUI.Services.IStatePersistenceService, Microsoft.Practices.CompositeUI"
				instanceType="Microsoft.Practices.CompositeUI.Services.IsolatedStorageStatePersistenceService, Microsoft.Practices.CompositeUI" />
    </services>
	</CompositeUI>
	<shellitems>
		<menuitems>
			<add id="1" site="FileDropDown" label="E&amp;xit" commandname="FileExit" key="Alt, F4" />
			<add id="2" site="MainMenu" label="&amp;Help" register="true" registrationsite="Help" />
			<add id="3" site="Help" label="&amp;About..." commandname="HelpAbout" key="F1" />
		</menuitems>
	</shellitems>
</configuration>
