<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings3" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
			<section name="ConfigurationProviderFixtureSettings2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationDependencyMonitorFixtureSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings3" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="ConfigurationProviderFixtureSettings2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationDependencyMonitorFixtureSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings3>
			<setting name="XmlValueProvider" serializeAs="String">
				<value>&lt;Value&gt;HelloWorld&lt;/Value&gt;</value>
			</setting>
		</Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings3>
		<Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings2>
			<setting name="XmlValueProvider" serializeAs="String">
				<value>&lt;Value&gt;HelloWorld&lt;/Value&gt;</value>
			</setting>
		</Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings2>
		<ConfigurationProviderFixtureSettings2>
			<setting name="XmlValue" serializeAs="String">
				<value>
					<Test>Value</Test>
				</value>
			</setting>
			<setting name="XmlValueProvider" serializeAs="String">
				<value>
					<Test>Value</Test>
				</value>
			</setting>
		</ConfigurationProviderFixtureSettings2>
		<Microsoft.Practices.CompositeUI.Tests.ConfigurationDependencyMonitorFixtureSettings>
			<setting name="MyKey" serializeAs="String">
				<value>MyValues</value>
			</setting>
		</Microsoft.Practices.CompositeUI.Tests.ConfigurationDependencyMonitorFixtureSettings>
		<Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings>
			<setting name="AUserValue" serializeAs="String">
				<value>Red</value>
			</setting>
			<setting name="MyComplex" serializeAs="Xml">
				<value>
					<ComplexValues xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<MyProperty>25</MyProperty>
						<MyValue>Hello world</MyValue>
					</ComplexValues>
				</value>
			</setting>
			<setting name="MyValue" serializeAs="String">
				<value>My Default - Different than class attribute (don't regenerate the class or test will fail)</value>
			</setting>
		</Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings>
	</userSettings>
	<applicationSettings>
		<Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings3>
			<setting name="XmlValue" serializeAs="String">
				<value>&lt;Value&gt;HelloWorld&lt;/Value&gt;</value>
			</setting>
		</Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings3>
		<Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings2>
			<setting name="XmlValue" serializeAs="String">
				<value>&lt;Value&gt;HelloWorld&lt;/Value&gt;</value>
			</setting>
		</Microsoft.Practices.CompositeUI.Tests.ConfigurationProviderFixtureSettings2>
	</applicationSettings>
</configuration>